@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');

body
{
  margin: 0;
  font-family: 'Poppins', 'sans-serif';
}

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}

html,body {
  height:100%;
}

.center-element
{
  display: flex;
  justify-content: center;
}

/* Parent global */
div#root
{
  display: flex;
  flex-direction: row;

  width: 100%;
  min-height: 100vh;
  
  font-family: 'Poppins', 'sans-serif';
}
/*  */

/* Main div contenu */
div.inner-container
{
  display: flex;
  flex-direction: column;

  min-height: 90vh;
  height: fit-content;
  border-radius: 5px;
  padding: 15px !important;
  background-color: white;

  -webkit-box-shadow: 0px 0px 4px 0px #000000; 
  box-shadow: 0px 0px 4px 0px #000000;
}
/*  */



/* Navbar */
nav
{
  height: 100vh;
  max-height: 100vh;
  width: 25%;
  position: sticky;
  top: 0;
  left: 0;

  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  
  border-right: 2px solid grey;
  background-color: rgb(0,128,0);
  /* font-family: 'Noto Sans JP', sans-serif; */
}

nav
.icons-text
{
  display: flex;
  align-items: center;
  justify-content: left;
  color: white;
  font-size: 1em;
  transition: 500ms;
  border-radius: 15px;
  padding: 15px 10px;
}

nav
.icons-text:hover
{
  background-color: rgb(0, 103, 0);
}

nav
.icons-text
.iconify--bx
{
  margin-right: 10px;
}

nav
.icons-text
.bx
{
  margin-left: 4px;
  margin-right: 15px;
  font-size: 1.2em;
}


nav > div:last-child
{
  height: 10%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 65, 0);
  transition: 500ms;
}
nav > div:last-child a
{
  text-align: center;
}
nav > div:last-child:hover, button.logout-button:hover
{
  background-color: rgb(0, 44, 0);
}

nav h2
{
  color: white;
  font-weight: 500;
}


nav p
{
  text-align: left;
  font-weight: bold;
  font-size: 1.3em;
  width: 100%;
  color: white;
  color: rgb(0, 49, 0);
}

nav a 
{
  text-decoration: none;
  text-align: left;
  color: white;

  width: 100%;
  padding: 11px 0;
}

nav 
button.logout-button
{
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding: 15px 0;
  background-color: rgb(0, 65, 0);

  color: white;
  font-family: 'Poppins', 'sans-serif';
  font-size: 1.1em;
  transition: 500ms;
}
/*  */


/* Login page */
div.login
{
  width: 100%;

  background-color: rgb(230, 230, 230);
  padding: 25px 25px;
}

div.login
h1.main-login-title
{
  text-align: center;
  font-weight: 500;
}
/*  */





/* Home page */
div.home
{
  width: 80%;
  height: 98.5vh;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.home-content
{
  text-align: center;
  border: 2px solid red;
  width: 80%;
}

a.home-link
{
  text-decoration: none;
  font-size: 1.3em;
  color: white;
  
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(34,72,36);
  padding: 5px 10px;
}
/*  */



/* Dashboard page */

div.dashboard
{
  width: 100%;

  background-color: rgb(230, 230, 230);
  padding: 25px 25px;
}

div.dashboard
.card-player-name
{
  text-align: center;
  font-weight: 500;
  /* font-family: 'Poppins', 'sans-serif'; */
}

div.dashboard
.card-player-stats
{
  font-size: 1.1em;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
}

div.dashboard
.card-player-wons
{
  text-align: center;
  padding: 0px 10px 5px 10px;
  border: 2px solid ;
  border-radius: 20px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.4em;
  margin-top: 30px;
  /* color: black; */
  background-color: black;
}
/*  */





/* Tournament Ranking page */
div.tournamentRanking
{
  width: 100%;

  background-color: rgb(230, 230, 230);
  padding: 25px 25px;
}


div.unselected-container
{
  height: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1.unselected-title
{
  text-align: center;
  font-family: 'Shippori Antique B1', sans-serif;
  font-weight: normal;
  border-radius: 15px;
  padding: 10px;
}

h1.main-title
{
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 0;
  margin-left: 15px;
}

ul.separator-list
{
  list-style: none;
  display: flex;
  margin: 15px;

  padding: 0;
}

ul.separator-list li:first-child
{
  height: 3px;
  width: 60%;
  background-color: rgb(199, 199, 199);
  border-radius: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

ul.separator-list li:nth-child(2)
{
  height: 3px;
  width: 25%;
  background-color: rgb(199, 199, 199);
  border-radius: 15px;
  margin-right: 15px;
}

ul.separator-list li:last-child
{
  height: 3px;
  width: 15%;
  background-color: rgb(199, 199, 199);
}

/* Les boutons radio */
div.tournamentRanking
div.radio-container
{
  display: flex;
  justify-content: space-between;
  width: 80%;

  margin: 20px auto 30px auto;
}

div.tournamentRanking
div.radio-container 
label
{
  background-color: rgb(214, 214, 214);
  padding: 5px 10px;
  border-radius: 15px;
  transition: 500ms;
  font-size: 1.1em;

  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.tournamentRanking
div.radio-container
label i 
{
  font-size: 1.4em;
  margin-right: 5px;
}

div.tournamentRanking
div.radio-container
label:hover
{
  background-color: rgb(165, 165, 165) !important;
}

div.tournamentRanking
div.radio-container 
input[type="radio"]
{
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

/* Tableau classement */
div.TR-table
{
  padding: 0 20px;
  margin-bottom: 100px;

  animation-name: fadeIn;
  animation-duration: 700ms;
}

div.TR-head
{
  display: flex;
  flex-direction: column;

  border: 2px solid grey;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}
div.TR-head h2
{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 10px 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: grey;

  font-weight: 500;
  text-align: center;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
}

div.TR-th-container
{
  display: flex;
  justify-content: space-around;
  border-top: 2px solid grey;
}

div.TR-th-container h4
{
  text-align: center;
  margin: 15px 0;
  font-weight:600;
}

/* Lignes du tableau */
div.TR-body
{
  display:flex;
  flex-direction: column;
}

div.TR-row
{
  border-radius: 10px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 4px 0px #000000; 
  box-shadow: 0px 0px 4px 0px #000000;
}

div.TR-row:first-child
{
  background-color:rgb(255,215,0);
}

div.TR-row h4
{
  width: 15%;
  margin: 0;
  text-align: center;
  font-weight: normal;
}

div.TR-row h4:first-child,
div.TR-th-container h4:first-child
{
  width: 15%;
}
div.TR-row h4:nth-child(2),
div.TR-th-container h4:nth-child(2)
{
  width: 40%;
}
div.TR-row h4:nth-child(3),
div.TR-th-container h4:nth-child(3)
{
  width: 22.5%;
}
div.TR-row h4:last-child,
div.TR-th-container h4:last-child
{
  width: 22.5%;
}
/*  */

/*  */





/* Players page */
div.players
{
  width: 100%;

  background-color: rgb(230, 230, 230);
  padding: 25px 25px;
}

div.players 
input[type="text"]
{
  padding: 7px 10px;
  font-size: 1.2em;
  margin: 20px auto 30px auto;
  margin-bottom: 30px;
  width: 30%;
  border-radius: 15px;
  border: 2px solid grey;
}

div.players 
input[type="text"]:active
{
  border: 2px solid rgb(121,160,243);
}

div.players
div.card-container
{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 15px 30px 15px;
}

div.players
div.card-container > div
{
  display:flex;
  justify-content: space-around;
  width: 100%;
}

div.players
div.card-container > div.card
{
  border-radius: 15px !important;
  width: 35% !important ;
  margin-top: 30px ;
  padding: 0px !important;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ) !important;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;

  animation-name: fadeIn;
  animation-duration: 700ms;

  position: relative;
}

div.background-color-block-top
{
  background-color: rgb(0,128,0);
  position: absolute;
  top: 0;

  height: 120px;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/* Contenu de la card */
div.placeholder-picture
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

div.placeholder-picture img{
  height: auto;
  width: 90%;
  margin: 0 auto;
  border-radius: 15px;
  z-index: 2;
  border: 2px solid rgb(0,128,0);
}


div.players
div.card > div.playerInfos-container 
{
  border-radius: 5px;
  font-family: 'Noto Sans JP', sans-serif;
  padding: 0;
  text-align: center;
  z-index: 3;
}

div.players
div.playerInfos-container h2
{
  font-size: 1.7em;
  font-weight: 700;
  margin: 5px 0;
  padding: 0;
}

div.card > div.playerInfos-container > div.side-side-blocks
{
  display: flex;
}

div.card > div.playerInfos-container > div.side-side-blocks > * 
{
  width: 50%;
  text-align: center;
  margin-bottom: 15px;
  font-size: 0.9em;
}

div.card > div.playerInfos-container > div.side-side-blocks > div:first-child
{
  border-right: 2px solid black;
}

div.players
div.card > div.playerInfos-container h3
{
  font-weight: 100;
  margin: 0px;
  font-size: 0.9em;
}

div.players
div.card 
div.separator 
{
  width: 90%;
  height: 2px;
  background-color: grey;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Bloc details */
div.players
details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

div.players
div.card > details
{
  text-align: center;
  width: 100%;
  margin: 20px 0;
}

div.players
div.card > details summary
{
  width: fit-content;
  list-style: none;
  margin: 0 auto;
  padding: 5px 10px;
  background-color: rgb(214, 214, 214);
  border-radius: 8px;
}

summary::after {
  content: ' ►';
}
details[open] summary:after {
  content: "  ▼";
}

div.players
div.card > details > div.tournamentsWon-container
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  padding-top: 25px;
}

div.players
div.card > details > div.tournamentsWon-container
{
  margin: 10px 0;
  font-weight: 500;
  padding: 0 10px;
}
/*  */


/* Tournaments page */
div.tournaments
{
  width: 100%;

  background-color: rgb(230, 230, 230);
  padding: 25px 25px;
}

div.tournaments
div.tournament-card
{
  border: 2px solid grey;
  border-radius: 15px;
  background-color: rgb(179, 179, 179);

  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;

}

div.tournaments 
div.tournament-card h2.tournament-card-name
{
  font-weight: 600;
  text-align: left;
  margin-left: 20px;
  color: white ;
  font-family: 'Noto sans JP', 'sans-serif';
}

div.tournaments 
div.tournament-card h3
{
  font-weight: 500;
  text-align:center;
}

div.tournaments 
div.tournament-card p.tournament-description
{
  margin: 0 auto;
  width: 95%;
}

div.tournaments
div.tournament-card details
{
  text-align: center;
}

div.tournaments
div.tournament-card details summary
{
  list-style:none;
}

div.tournaments 
div.tournament-card p.course-description
{
  margin: 0 auto;
  width: 80%;
}
/* Tableau des trous du parcours */
div.tournaments 
table
{
  border: 2px solid black;
  border-spacing: 0;
  margin: 30px auto;
}

div.tournaments 
th 
{
  border: 2px solid black;
  background-color: grey;
  min-width: 80px;
  padding: 5px 8px ;
}

div.tournaments 
td
{
  text-align: center;
  border: 2px solid black;
}
/*  */






/* Partie admin */

/* Admin player list page */
.edit-link
{
  transition: 500ms;
}

.edit-link:hover
{
  background-color: rgb(95, 95, 95) !important;
}
/*  */


/* Admin add player page */
input.player-tel-input, input.player-birthdate-input
{
  padding: 15px 15px;
  font-size: 1em;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}
/*  */


/* admin Login page */
.login-page
{
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

.login-page-form
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto auto;
  width: 45%;
}
/*  */



/* addAdmin page */
.container-fluid.admin-register
{
  width: 100%;

  background-color: rgb(230, 230, 230);
  padding: 25px 25px;
}
/*  */

/* addScores page */
div.admin-addScores
{
  width: 100%;

  background-color: rgb(230, 230, 230);
  padding: 25px 25px;
}

div.admin-addScores 
form
{
  display: flex;
  flex-direction: column;
  margin-right: 100px 
}

.input-number-score, .input-select-score
{
  border: 2px solid transparent;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  font-family: 'Poppins', 'sans-serif';
}

.input-number-score
{
  margin-bottom: 20px;
}

.input-number-score:focus, 
.input-select-score:focus, 
.select-tournament-score:focus,
.select-tournament-score:active,
.select-player-score:focus,
.select-player-score:active
{
  border: 2px solid green;
}

.select-tournament-score
{
  padding: 10px 10px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 5px;
  font-size: 0.9em;
}

/*  */




/* Animations */

@keyframes fadeIn { 
  from{
    opacity: 0;
    transform: translateY(30px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
}