@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');

body
{
  margin: 0;
  font-family: 'Poppins', 'sans-serif';
}

/* Parent global */
div#root
{
  display: flex;
  flex-direction: row;

  width: 100%;
  min-height: 100vh;
  
  font-family: 'Poppins', 'sans-serif';
}
/*  */




/* Navbar */
nav
{
  height: 100vh;
  width: 25%;
  position: sticky;
  top: 0;
  left: 0;

  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(121,160,243);
}

nav > div:first-child
{
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
nav > div:first-child a 
{
  margin-left: 20px;
}

nav > div:last-child
{
  height: 10%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(58, 118, 247);
  transition: 500ms;
}
nav > div:last-child a
{
  text-align: center;
}
nav > div:last-child:hover
{
  background-color: rgb(12, 87, 248);
}

nav h2
{
  color: white;
  font-weight: 500;
}


nav p
{
  text-align: left;
  font-weight: normal;
  font-size: 1.3em;
  width: 100%;
  color: white;
}

nav a 
{
  text-decoration: none;
  text-align: left;
  color: white;

  width: 100%;
  padding: 11px 0;
}
/*  */





/* Home page */
div.home
{
  width: 80%;
  height: 98.5vh;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.home-content
{
  text-align: center;
  border: 2px solid red;
  width: 80%;
}

a.home-link
{
  text-decoration: none;
  font-size: 1.3em;
  color: white;
  
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(34,72,36);
  padding: 5px 10px;
}
/*  */



/* Dashboard page */

div.dashboard
{
  background-color: grey;
  width: 100%;
  height: 100%;
}
/*  */





/* Tournament Ranking page */
div.tournamentRanking
{
  width: 100%;

  background-color: rgb(230, 230, 230);
  padding: 25px 25px;
}

div.tournamentRanking-container
{
  display: flex;
  flex-direction: column;

  min-height: 90vh;
  height: fit-content;
  border-radius: 5px;
  padding: 15px;
  background-color: white;

  -webkit-box-shadow: 0px 0px 4px 0px #000000; 
  box-shadow: 0px 0px 4px 0px #000000;
}

div.unselected-container
{
  height: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1.unselected-title
{
  text-align: center;
  font-family: 'Shippori Antique B1', sans-serif;
  font-weight: normal;
  border-radius: 15px;
  padding: 10px;
}

div.tournamentRanking h1.main-title
{
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 0;
  margin-left: 15px;
}

ul.separator-list
{
  list-style: none;
  display: flex;
  margin: 15px;

  padding: 0;
}

ul.separator-list li:first-child
{
  height: 3px;
  width: 60%;
  background-color: rgb(199, 199, 199);
  border-radius: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

ul.separator-list li:nth-child(2)
{
  height: 3px;
  width: 25%;
  background-color: rgb(199, 199, 199);
  border-radius: 15px;
  margin-right: 15px;
}

ul.separator-list li:last-child
{
  height: 3px;
  width: 15%;
  background-color: rgb(199, 199, 199);
}

/* Les boutons radio */
div.tournamentRanking
div.radio-container
{
  display: flex;
  justify-content: space-between;
  width: 80%;

  margin: 20px auto 30px auto;
}

div.tournamentRanking
div.radio-container 
label
{
  background-color: rgb(214, 214, 214);
  padding: 5px 10px;
  border-radius: 15px;
  transition: 500ms;
  font-size: 1.1em;

  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.tournamentRanking
div.radio-container
label i 
{
  font-size: 1.4em;
  margin-right: 5px;
}

div.tournamentRanking
div.radio-container
label:hover
{
  background-color: rgb(165, 165, 165) !important;
}

div.tournamentRanking
div.radio-container 
input[type="radio"]
{
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

/* Tableau classement */
div.TR-table
{
  padding: 0 20px;
  margin-bottom: 100px;

  animation-name: fadeIn;
  animation-duration: 700ms;
}

div.TR-head
{
  display: flex;
  flex-direction: column;

  border: 2px solid grey;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}
div.TR-head h2
{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 10px 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: grey;

  font-weight: 500;
  text-align: center;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
}

div.TR-th-container
{
  display: flex;
  justify-content: space-around;
  border-top: 2px solid grey;
}

div.TR-th-container h4
{
  text-align: center;
  margin: 15px 0;
  font-weight:600;
}

/* Lignes du tableau */
div.TR-body
{
  display:flex;
  flex-direction: column;
}

div.TR-row
{
  /* border: 1px solid black; */
  border-radius: 10px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 4px 0px #000000; 
  box-shadow: 0px 0px 4px 0px #000000;
}

div.TR-row:first-child
{
  background-color:rgb(255,215,0);
}

div.TR-row h4
{
  width: 15%;
  margin: 0;
  text-align: center;
  font-weight: normal;
}

div.TR-row h4:first-child,
div.TR-th-container h4:first-child
{
  width: 15%;
}
div.TR-row h4:nth-child(2),
div.TR-th-container h4:nth-child(2)
{
  width: 40%;
}
div.TR-row h4:nth-child(3),
div.TR-th-container h4:nth-child(3)
{
  width: 22.5%;
}
div.TR-row h4:last-child,
div.TR-th-container h4:last-child
{
  width: 22.5%;
}
/*  */

/*  */





/* PlayerStats page */
div.playerStats
{
  width: 100%;
}

div.playerStats
div.card-container
{
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: 2px solid blue;
}

div.playerStats
div.card-container > *
{
  border: 2px solid red;
  width: 20%;
}

/*  */


/* Tournaments page */
div.tournaments
{
  width: 100%;
}
div.tournaments 
table
{
  border: 2px solid black;
  border-spacing: 0;
}

div.tournaments 
th 
{
  border: 2px solid black;
  min-width: 80px;
}

div.tournaments 
td
{
  text-align: center;
  border: 2px solid rgb(121,160,243);
}
/*  */





/* Animations */

@keyframes fadeIn { 
  from{
    opacity: 0;
    transform: translateY(30px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}
